@using Emse.QMagic.WebTerminal.Helpers;
@using Emse.QMagic.DAL;
@{
    ViewBag.Title = "Login QMagic";
    Layout = null;
    string ErrorCode = ViewBag.ErrorCode;
    string LanguageCode = "EN";
    if (Session["MagicLanguage"] != null)
    {
        LanguageCode = Session["MagicLanguage"].ToString();
    }

    string Name = "";
    bool AskPin = false;
    qmUser User = new qmUser();
    if (ViewBag.Name != null)
    {
        Name = ViewBag.Name;
        AskPin = ViewBag.AskPin;
        User = ViewBag.User;

        if (ViewBag.User == null)
        {
            Response.Redirect("LDAP");
        }
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BilaQ Web Terminal</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link href="~/Content/bilaq-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="login-container">
        <form action="~/Home/Login" method="post" class="login-form" id="trmfrm">
            <img src="~/assets/logo.png" height="100" class="logo" alt="BilaQ Logo" />

            @{
                if (Name != "")
                {
                    if (AskPin)
                    {
                        if (User != null)
                        {
                            // LDAP user needs to enter PIN
                            <img src="@(User.ProfilePicture)" class="profile-picture" alt="User Profile" /><br />
                            <h3>Welcome back<br />@User.FullName!</h3>
                            <input type="hidden" id="txtUsername" name="txtUsername" value="@Name" />
                            <div class="form-group">
                                <input type="password" class="form-control" id="ppsswwd" placeholder="PIN Code" name="txtPassword" />
                            </div>
                        }
                        else
                        {
                            // LDAP user not found, redirect
                            Response.Redirect("LDAP");
                        }
                    }
                    else
                    {
                        // Direct login for non-PIN LDAP user
                        <input type="hidden" id="txtUsername" name="txtUsername" value="@Name" />
                        <input type="hidden" id="txtPassword" name="txtPassword" value="@User.Password" />

                        if (Context.Request.QueryString["err"] == null)
                        {
                            <script>
                                $(document).ready(function () {
                                    $("#sbmt").html("<div class='spinner'></div>");
                                    $("#trmfrm").attr("action", "Home/Login?ldap=true");
                                    $("#trmfrm").submit();
                                });
                            </script>
                        }
                    }
                }
                else
                {
                    // Classic username/password login
                    <h1 class="form-title">@Localization.Translate(LanguageCode, "PleaseSignIn")</h1>
                    <div class="form-group">
                        <label for="floatingInput">@Localization.Translate(LanguageCode, "Username")</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="Enter your username" name="txtUsername">
                    </div>
                    <div class="form-group">
                        <label for="floatingPassword">@Localization.Translate(LanguageCode, "Password")</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Enter your password" name="txtPassword">
                    </div>
                    <div class="form-group-inline">
                        <input type="checkbox" id="rememberMe" value="remember-me" class="form-check-input" />
                        <label for="rememberMe">@Localization.Translate(LanguageCode, "RememberMe")</label>
                    </div>
                }
            }

            <div class="error-container">
                @{
                    string alertClass = "alert-danger";
                    string message = "";
                    switch (ErrorCode)
                    {
                        case "1": message = "Username or password is incorrect."; break;
                        case "3": message = "User deleted or not found."; break;
                        case "4": message = "Unable to connect to the distribution server. Please check web keeper.(0x145300)"; break;
                        case "5": message = "Unable to connect to QMagic Studio."; break;
                        case "6": message = "No license installed."; break;
                        case "7":
                            string compname = HttpContext.Current.Request.QueryString["IP"];
                            message = $"Terminal is not determined. Save the computer name as '{compname}' and try again.";
                            alertClass = "alert-warning";
                            break;
                    }
                    if (!string.IsNullOrEmpty(message))
                    {
                        <div class="alert @alertClass">@message</div>
                    }
                }
            </div>

            <div id="sbmt">
                <button class="btn-submit" type="submit">
                    <i class="fa fa-sign-in-alt"></i> @Localization.Translate(LanguageCode, "SignIn")
                </button>
            </div>
            <p class="footer-text">&copy; @DateTime.Now.Year BilaQ<br />@System.Environment.MachineName</p>
        </form>
    </div>

    <div class="language-switcher">
        <a href="~/Home/SelectLanguage?LanguageCode=EN" class="@(LanguageCode == "EN" ? "active" : "")">EN</a> |
        <a href="~/Home/SelectLanguage?LanguageCode=AR" class="@(LanguageCode == "AR" ? "active" : "")">عربي</a>
    </div>

</body>